/* color variables */
:root {
    --floral-scent: #edede9;
    --male: #d6ccc2;
    --tea-biscuit: #f5ebe0;
    --sheer-scarf: #e3d5ca;
    --elusive-dawn: #d5bdaf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-parent{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-child{
    flex: 1;
    background-color: var(--male);
}

.projectTile {
    width: 300px;
}

.projectTile img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;

}

form >div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    text-align: center;
}

.about img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume img {
    width: 700px;
    height: auto;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--elusive-dawn);
}

header > ul {
    display: flex;
    gap: 20px;
}

h2 {
    text-align: center;
}

.projectLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--elusive-dawn);
    height: 50px;
    gap: 20px;
}

header .active {
    color: var(--floral-scent);
}

p {
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 20px;
}

.about img {
    margin-bottom: 20px;
}

.about-content p {
    margin-bottom: 0;
    width: 50%;
   margin: 0 auto;
    justify-content: center;
}